*.pdf
*.pyc
*.egg-info
build
dist
*~
.DS_Store
.eggs
.pytest_cache
.python-version

.vscode

/sumpfork_dividers/
/src/domdiv/fonts/*.otf
/src/domdiv/fonts/*.ttf
/dominion_dividers.pdf
/dominion_dividers.png
/tools/card_db

.doit.db*
.mypy_cache/
.tox/

venv
.idea/
_build.bat
_readme.txt
card_db_src/1_merge_cards_db_and_cards_xx_filter.py
card_db_src/2_convert_json_to_csv.py
card_db_src/3_convert_csv_to_json.py
card_db_src/4_merge_back.py
card_db_src/cs/_TODO.txt
