*.pdf
*.pyc
*.egg-info
build
dist
*~
.DS_Store
.eggs
.pytest_cache
.python-version

.vscode
.idea

/sumpfork_dividers/
/src/domdiv/fonts/*.otf
/src/domdiv/fonts/*.ttf
/dominion_dividers.pdf
/dominion_dividers.png
/tools/card_db

.doit.db*
.mypy_cache/
.tox/

venv
