name: Lint and Test

on: [push, pull_request, workflow_dispatch]

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - run: |
          pip install -r requirements.txt
      - name: Lint
        run: pre-commit run --all-files
      - name: Test
        run: python setup.py test
